<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>成績入力</title>
</head>
<body>
    <h1>成績入力</h1>
    <form action="/d00000/input_result" method="post">
        名前<input type="text" name="name" width="10"><br>
        英語<input type="text" name="english" width="10">点<br>
        国語<input type="text" name="japanese" width="10">点<br>
        数学<input type="text" name="math" width="10">点<br>
        <input type="submit" value="入力">
    </form>
</body>
</html>